/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/

# Archivos de solución de Visual Studio
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Archivos de sistema
.DS_Store
Thumbs.db

# Carpetas de Asset Store (opcional, por si bajaste paquetes pesados)
/[Aa]ssets/AssetStoreTools*